table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.konyvek{
    border: 5px solid pink;
    display: flex;
    width: fit-content;
}

.konyv{
    border: 1px solid purple;
    width: fit-content;
    margin: 15px;
    padding: 10px;
}

.cim{
    font-weight: bold;
}